<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
    bootstrap="tests/bootstrap-integration.php"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix=".php">tests/integration</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-tests-config.php" />
        <env name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills" />
    </php>
</phpunit>
